.header {
  background: #F5F9FF; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
  flex-direction: column;
  color: #99A3BA;
}

.task {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.form-field {
  height: 40px;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 500;
  color: #CBD1DC;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  border: 1px solid #CDD9ED;
  white-space: nowrap;
  width: 736px;
}

.form-field:focus,
button:focus {
  outline: none;
  border-color: #275EFE;
}

.task button {
  height: 40px;
  width: 70px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  border: 1px solid #CDD9ED;
  margin-left: -1;
}

.task_container {
  color: #99A3BA;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task_container .task_header {
  margin-top: 30px;
  width: 803px;
  display: flex;
  justify-content: space-between;
}

.task_header div {
  display: flex;
}

.task_header div p {
  margin-right: 10px;
}

.task_items {
  width: 803px;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #CDD9ED;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.task_items .check {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.task_items .task_completed {
  text-decoration-line: line-through;
}

.check div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #99A3BA;
}

.aaaa {
  color: black;
}